* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

header {
    padding: 25px;
    text-align: left;
    background:  rgb(29, 153, 211);
    color: white;
    border: 2px solid lightgray;
  }

ul {
    list-style-type: none;
    margin: 0;  
}

li {
    display: inline;
    margin-right: 16px;
    padding-top: 50px;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(211, 213, 218);
    border: 2px solid rgb(233, 241, 185);
    border-radius: 25px;
  }
  
  nav a {
    color: gray;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

.container {
    display: flex;
    position: relative;
}

.text-block-1 {
    display: flex;
    position: absolute;
    font-size: 50px;
    top: 100px;
    left: 100px;
    text-align: center;
    }

  .me {
    display: flex;
    height: 300px;
    width: 240px;
    border: 2px solid rgb(233, 241, 185);
    border-radius: 25px;
  }
   
 .background-image {
   display: flex;
    height: 100%;
    width: 100%;
    border-radius: 0px
}

.text-block-2 {
    display: flex;
    position: absolute;
    bottom: 100px;
    right: 100px;
    border: 2px solid rgb(233, 241, 185);
    background-color: rgb(213, 222, 226);
    color: rgb(119, 118, 118);
    padding: 25px;
    text-align: left;
    border-radius: 25px;
}


.links {
  display: flex;
  flex: 1 0 200px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(213, 222, 226);
  }
  
.card header {
    border: 2px solid lightgray;
    padding: 20px;
    background: rgb(29, 153, 211);
    color: #fff;
  }
  
section img {
    width: 50%;
    height: 50%;
    border: 2px solid darkgray;
    border-radius: 25px;
    padding-top: 40px
  }

footer {
    display: flex;
    bottom: 0 left 0 width 100%;
    border: 2px solid darkgray;
    display: #3f3838;
    background-color: rgb(29, 153, 211);
    height: 60px; 
}
.input {
  text-align: left;
  color: white;
  padding-top: 8px;
  padding-left: 8px;
}

button {
  border-radius: 25px;
  border: 2px solid rgb(233, 241, 185);
  background-color: rgb(213, 222, 226);
  color: rgb(119, 118, 118);
  padding: 2px;
}


 @media  screen and (max-width: 768px) {
    header {
      width: 65%;
    }} 

@media screen and (max-width: 768px) {
  .container, .text-block-1, .text-block-2 {
    width: 65%;
    }}

@media screen and (max-width: 768px) {
    .links {
      width: 65%;
    }}

@media screen and (max-width: 768px) {
    footer, button, .input {
      width: 65%;
    }}