* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: georgia;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

/* header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
     */

/* header {
    background-color: #e2798b;
    border-bottom: 10px solid #bd9f87;
    height: 60px;
    padding: 10px;
} */

header {
    padding: 25px;
    text-align: left;
    background:  #e2798b;
    color: white;
  }

ul {
    list-style-type: none;
    margin: 0;  
}

li {
    display: inline;
    margin-right: 16px;
    padding-top: 50px;
    font-size: 14px;
}

/* nav {
    text-align: right;
    font-size: 1.5em;
}

nav a {
    color: white;
    text-decoration: none;
} */

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: lightpink;
  }
  
  nav a {
    color: gray;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

/* main h1 {

    padding: 10px;
    font-weight: 550;
    font-size: 24px;
}

h1 {
    color: #3f3838;
    border: 2px solid #3f3838;
    height: 60px;
    margin-right: 1000px;
    padding-bottom: 10px;
} */

.container {
    position: relative;
}

.text-block-1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: darkgray;
    padding-left: 20px;
    padding-right: 20px;
}

 .background-image {
    height: 100%;
    width: 100%;

}

.text-block-2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    color: darkslateblue;
    padding-right: 40px;
    padding-left: 40px;
}

.links {
    display: flex;
    flex-direction: row;
    /* Centers along the main axis determined by flex-direction */
    /* justify-content: center; */
    /* Centers along the opposite axis */
    /* align-items: center; */
    /* width: 90%; */
    /* Uses the height of the viewport */
    /* height: 100vh; */
    /* margin: 0 auto; */
    /* border-style: solid; */
    /* border-width: 2px; */
   /* A flex-basis of 200px sets the starting width */
  /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.card {
    flex-grow: 1;
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
.card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
.card img {
    width: 100%;
  }
footer {
    bottom: 0 left 0 width 100%;
    border: 2px solid darkgray;
    display: #3f3838;
    background-color: #e2798b;
    height: 40px;
    text-align: right;
    
}

footer p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }