* {
    box-sizing:border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    text-align: center;
}
h1 {
    background-color: #e2798b;
    color: #3f3838;
    font-family: georgia;
    font-weight: ;
    border: 2px solid #3f3838;
    height: 60px;
}